# Gradle
.gradle/
build/
out/
bin/

# Eclipse
.settings/
.classpath
.project
bin/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# VSCode
.vscode/

# Fabric
run/
logs/

# macOS
.DS_Store

# Windows
Thumbs.db

# Misc
*.log
*.swp
*.bak
*~
